<main class="container">
    <h1>Attention!</h1>
    <button class="btn btn-primary">Learn More</button>
    <section>
        <h2>A little bit less attention</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis</p>
    </section>
    <section class="secondary-section"></section>
    <div class="discover">
        <h2>Wanna discover more!? Click the bunner.</h2>
        <button class="btn btn-primary">Learn More</button>
    </div>
</main>
<footer class=""></footer>